- const customtitle = 'Список логинов'
- const author = 'Jeneck js.'
- items = {"users":[{"login":"student@mail.com","password":"tneduts"},{"login":"myuserlogin@my.spb.ru","password":"mypas"},{"login":"prof@univer.msk.ru","password":"fessor"},{"login":"ego@yandex.ru","password":"selfish"}]}

doctype html
html(lang='en')
 head
 title= customtitle
 body
 h1= customtitle
 h2= author
 #container
 p Список логинов:
 ol
 each item in items['users']
 li= item.login
